body {
    background-color: #202124 !important; /* Chrome's dark gray background */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    color: #f0f0f0;
}

#prompt {
    font-size:24px;
    color:#f0f0f0;
}
img {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain; /* Ensures image scales without distortion */
}