body {
    margin: 0;
    background-color: #111;
    color: #f0f0f0;
    font-family: sans-serif;
    font-size: 16px;
}
#single {
    display: block;
    margin:0 auto;
}

#single img {
    max-width: 100%;
    max-height: 100%;
}